:root {
  --input-gradient: linear-gradient(#6448fe, #600594);
}

@media (min-width: 375px) and (max-width: 767px) {
  .cards {
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  body {
    background-image: url("../images/bg-main-mobile.png");
    height: 100vh;
    background-size: 100vh 33% !important;
  }

  .inputInfo {
    margin-top: -40vh !important;
  }
  .cards {
  }

  .frontCard {
    margin-top: 120px;
    position: relative;
    z-index: 1000 !important;
    width: 300px !important;
    margin-right: 0px !important;
  }
  .backCard {
    position: absolute;
    top: -320px;
    z-index: 0 !important;
    width: 300px !important;
    padding-right: 5px !important;
  }

  .firstCardData {
    padding: 13px !important;
    width: 300px !important;
  }
  .numberCard {
    font-size: calc(1rem) !important;
    margin-top: calc(1rem + 3vw) !important;
  }

  .infoOther {
    font-size: calc(1rem) !important;
    padding-bottom: 5vh !important;
  }

  .cvv {
    font-size: calc(1rem) !important;
    margin-top: 70px !important;
    margin-left: 180px !important;
  }

  .inputInfo {
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px !important;
  }
  .firstCardData {
    padding-top: 23px !important;
    width: 280px !important;
  }
  .numberCard {
    margin-top: 30px !important;
    font-size: 16px !important;
  }
  .infoOther span {
    font-size: 16px !important;
  }
  .cvv {
    font-size: 16px;
    margin-left: 190px !important;
    margin-top: 75px !important;
  }
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  height: 100vh;
  min-width: 375px;
  background-image: url("../images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: 33% 100vh;
}

.main {
  height: 100vh;
  align-items: center;
  width: 100%;
}

.frontCard {
  position: relative;
  z-index: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.firstCardData {
  position: absolute;
  color: white;
  z-index: 1000;
  padding-left: 0%;
  padding-top: 30px;
  width: 350px;
}

.numberCard {
  margin-top: 75px;
  font-size: 22px;
  letter-spacing: 5px;
  span:nth-child(4n) {
    margin-inline-end: 2vh;
  }
}

.backCard {
  position: relative;
  z-index: 0;
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}

.infoOther {
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.cvv {
  position: absolute;
  color: white;
  z-index: 1000;
  margin-top: 105px;
  margin-left: 260px;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputInfo {
  display: flex;
  justify-content: center;
}

.dataWrap {
  width: 100%;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

input {
  border: 1px solid lightgrey;
  border-radius: 8px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

input:focus {
  outline: none;
  border: double 1px transparent;
  border-radius: 8px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #6448fe, #600594);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

label {
  text-transform: uppercase;
  font-size: 14px;
}

.dataCardMMYYCVC {
  display: flex;
}

.myBlock {
  width: 40%;
}

.elseBlock {
  width: 100%;
}

.button {
  color: white;
  background-color: #220930;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 8px;
}

.button:focus {
  color: white;
  background-color: #380f50;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 8px;
}

.wrongFormat {
  text-transform: capitalize;
  color: red;
  font-size: 12px;
}

.labels {
  display: flex;
  width: 100%;
}

.mmstyle {
  width: 60%;
}

.cvcstyle {
  width: 40%;
  text-align: center;
}

.inputWar {
  border: 1px solid rgb(255, 0, 0);
}

#parConfirm {
  color: #424242;
}
